# Java
*.class
*.jar
*.war
*.ear
target/

# Maven
.mvn/
mvnw
mvnw.cmd
.m2tools/

# IDEs
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
Thumbs.db
.DS_Store

# Static Sync
Backend/target/
Backend/bin/
